.input_component {
  .input_field {
    padding: 7px 12px;
    // display: block;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    border: 1px solid gray;
  }

  span {
    color: rgba(255, 0, 0, 0.747);
    margin-top: -10px;
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
    display: none;
  }

  .input_field:invalid[focused="true"] ~ span {
    display: block;
  }
}
