.home {
  display: grid;
  grid-template-columns: 17% 83%;
  justify-content: center;

  .home_main {
    .home_items {
      display: flex;
      gap: 20px;
      padding: 20px 25px;
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .chart_sec {
      display: flex;
      gap: 20px;
      padding: 20px 25px;
    }

    .table {
      margin-top: 20px;
      padding: 20px 25px;
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    }
  }
}
